<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<!--<h1>PRODUCTS</h1>-->
<div class="col-sm-12 col-xl-10">
<form method="post" action="{% url 'updatepro' pr_id=pros.id%}" enctype="multipart/form-data">
    {% csrf_token %}
<!--<div class="col-sm-12 col-xl-12">-->
                        <div class="rounded h-100 p-4">
                            <h6 class="mb-4">Add new products</h6>

                            <div class="mb-3">
                                <select class="form-select mb-3 col-xl-12" id="floatingSelect" aria-label="Floating label select example" style="height:60px" name="pcat">
<!--                                    <option selected="">Select Category</option>-->
<!--                                    <option value="1">Smartphones</option>-->
<!--                                    <option value="2">Ear Buds</option>-->
                                    <option >{{pros.pcat}}</option>
                                    {% for i in cat %}
                                    <option >{{ i.ccname }}</option>
                                    {% endfor %}
                                </select>
<!--                                <label for="floatingSelect">Select Category</label>-->
                            </div>

                            <div class="form-floating mb-3">
                                <label for="floatingInput">Product Name</label>
                                <input type="text" value="{{pros.pname}}" class="form-control" name="pname" id="floatingInput" placeholder="Product Name">
<!--                                <label for="floatingInput">Product Name</label>-->
                            </div>

                            <div class="form-floating mb-3">
                                 <label for="floatingInput">Quantity</label>
                                <input type="number" value="{{pros.pquan}}" class="form-control" placeholder="Quantity" name="quantity">
<!--                                <label for="floatingInput">Price</label>-->
                            </div>


                             <div class="form-floating mb-3">
                                 <label for="floatingInput">Price</label>
                                <input type="number" value="{{pros.pprice}}" class="form-control" placeholder="Price " name="pprice">
<!--                                <label for="floatingInput">Price</label>-->
                            </div>
<!--                            <div class="form-floating mb-3">-->
<!--                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">-->
<!--                                <label for="floatingPassword">Password</label>-->
<!--                            </div>-->
<!--&lt;!&ndash;                            <div class="form-floating mb-3">&ndash;&gt;-->
<!--                                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">-->
<!--                                    <option selected="">Open this select menu</option>-->
<!--                                    <option value="1">One</option>-->
<!--                                    <option value="2">Two</option>-->
<!--                                    <option value="3">Three</option>-->
<!--                                </select>-->
<!--                                <label for="floatingSelect">Works with selects</label>-->
<!--                            </div>-->

                            <div class="form-floating mb-3">
                                <label for="floatingTextarea">Description</label>
                                <textarea class="form-control" placeholder="Description"  value="{{pros.pdesc}}" name="pdes" id="floatingTextarea" style="height: 150px;"> {{pros.pdesc}}</textarea>
<!--                                <label for="floatingTextarea">Description</label>-->
                            </div>
                            <div class="form-floating mb-3">
                                <label for="floatingInput">Country fo orgin</label>
                                <input type="text"  value="{{pros.coun}}" class="form-control" name="con" id="floatingInput1" placeholder="Country fo orgin">
                            </div>

                                <div class="form-floating mb-3">
                                <label for="floatingInput">Manufactured By</label>
                                <input type="text" class="form-control" value="{{pros.pman}}" name="man" id="floatingInput2" placeholder=" Manufactured By">
                                </div>

                                    <div class="mb-3">
                                <label class="form-label">Upload Image</label><br>
                                <label class="form-label">Image-1</label>
                                <input class="form-control bg-dark" type="file" id="formFile1" name="pimg1">
                                <label class="form-label">Image-2</label>
                                <input class="form-control bg-dark" type="file" id="formFile2" name="pimg2">
                                <label class="form-label">Image-3</label>
                                <input class="form-control bg-dark" type="file" id="formFile3" name="pimg3">
                            </div>

                            <div class="form-floating mb-3">
                                <button type="submit" class="btn btn-primary">UPDATE</button>
                            </div>
                        </div>
<!--                    </div>-->
</form>
    </div>
</body>
</html>
{% endblock %}